<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to YoyakuApp</h1>
    <p>あなたに最適な宿泊先を。</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="search-bar my-4 w-50">
    <%= form_with(url: search_by_area_rooms_path, method: :get, local: true, class: 'input-group') do |form| %>
      <%= form.text_field :area, placeholder: "エリア名を入力", class: "form-control" %>
      <div class="input-group-append">
        <%= form.submit "検索", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="popular-areas">
  <h2>人気エリア</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <%= link_to search_by_area_rooms_path(area: '東京') do %>
          <%= image_tag("東京.jpeg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">東京</h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <%= link_to search_by_area_rooms_path(area: '大阪') do %>
          <%= image_tag("大阪.avif", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">大阪</h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <%= link_to search_by_area_rooms_path(area: '京都') do %>
          <%= image_tag("京都.jpeg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">京都</h5>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <%= link_to search_by_area_rooms_path(area: '札幌') do %>
          <%= image_tag("札幌.jpeg", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title">札幌</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
