<div class="container">
  <h1 class="mb-4">予約済み一覧</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-1">施設画像</th>
        <th class="col-1">施設名</th>
        <th class="col-3">紹介文</th>
        <th class="col-1">合計料金</th>
        <th class="col-2">チェックイン日</th>
        <th class="col-2">チェックアウト日</th>
        <th class="col-1">予約確定日時</th>
        <th class="col-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <% Rails.logger.info "Processing reservation #{reservation.id}, check_in: #{reservation.check_in}, check_out: #{reservation.check_out}" %>
        <tr>
          <td class="col-1"><%= image_tag(reservation.room.display_image_url, class: "img-fluid img-thumbnail", style: 'height: 100px; width: 100px;') %></td>
          <td class="col-1"><%= link_to reservation.room.name, room_path(reservation.room) %></td>
          <td class="col-3"><%= reservation.room.description %></td>
          <% if reservation.check_in.present? && reservation.check_out.present? %>
            <td class="col-1"><%= reservation.room.price * (reservation.check_out - reservation.check_in).to_i * reservation.guests %> 円</td>
          <% else %>
            <td class="col-1">N/A</td>
          <% end %>
          <td class="col-2"><%= reservation.check_in.strftime("%Y/%m/%d") if reservation.check_in.present? %></td>
          <td class="col-2"><%= reservation.check_out.strftime("%Y/%m/%d") if reservation.check_out.present? %></td>
          <td class="col-1"><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") if reservation.created_at.present? %></td>
          <td class="col-1"><%= link_to '削除', reservation, method: :delete, data: { confirm: '予約を削除しますか？' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
