<% if flash[:error].present? %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:error].count, "error") %> prohibited this reservation from being saved:</h2>

    <ul>
    <% flash[:error].each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1><%= @room.name %>を予約</h1>

<%= form_with url: confirm_reservations_path, model: @reservation, local: true do |form| %>
  <%= form.hidden_field :room_id, value: @room.id %>
  
  <div>
    <%= form.label :check_in, "チェックイン日" %>
    <%= form.date_field :check_in %>
  </div>
  
  <div>
    <%= form.label :check_out, "チェックアウト日" %>
    <%= form.date_field :check_out %>
  </div>
  
  <div>
    <%= form.label :guests, "人数" %>
    <%= form.number_field :guests %>
  </div>
  
  <%= form.submit "予約する" %>
<% end %>
