<%= form_with model: @room, local: true do |form| %>
  <div>
    <%= form.label :施設名 %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :施設詳細 %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :料金 %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>
  <%= form.submit %>
<% end %>
