<h1>登録済み施設一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag room.display_image_url, width: 100 %></td>
        <td><%= link_to room.name, room_path(room) %></td>
        <td><%= room.description %></td>
        <td><%= room.price %></td>
        <td><%= room.created_at.to_s(:db) %></td>
        <td><%= link_to '編集', edit_room_path(room) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
