<!DOCTYPE html>
<html>
  <head>
    <title>YoyakuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <%= link_to 'YoyakuApp', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag(current_user.avatar.attached? ? rails_blob_url(current_user.avatar) : 'default-avatar.png', class: 'rounded-circle', size: 30) %>
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to '施設の新規作成', new_room_path, class: 'dropdown-item' %>
                <%= link_to '予約済み一覧', reservations_path, class: 'dropdown-item' %>
                <%= link_to '登録済み一覧', own_rooms_path, class: 'dropdown-item' %>
                <%= link_to 'アカウント設定', account_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %></li>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
